<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href = "../static/css/bootstrap.css" rel = "stylesheet" type ="text/css">
    <link href = "../../static/css/loginAs.css" rel = "stylesheet" type ="text/css">
    <script src = "../../static/js/bootstrap.min.js"></script>
    <title>Login As</title>
</head>
<body>
    <!--Navigation bar-->
    <nav class="navbar navbar-expand-lg bg-transparent">
        <a class="navbar-brand" href="{{ url_for('login') }}">eBuy</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
            <li class="nav-item">
            <a class="nav-link" href="{{ url_for('signUp') }}">Sign Up</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('aboutUs') }}">About Us</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('contactUs') }}">Contact Us</a>
                </li>
        </ul>
        </div>
    </nav>
    <h2>Login As:</h2><br/>
    <div class="row">
        <div class="col-sm-4">
            <div class="card">
                <a href="{{ url_for('userLogin') }}"><img class="card-img-top" src="../../static/images/userIcon.png" alt="Card image cap"></a>
            </div>
            <div class="card-body">
                <a href="{{ url_for('userLogin') }}"><p class = "type">User</p></a>
            </div>
        </div>
        
        <div class="col-sm-4">
            <div class="card">
                <a href="{{ url_for('adminLogin') }}"><img class="card-img-top" src="../../static/images/adminIcon.jpg" alt="Card image cap"></a>
            </div>
            <div class="card-body">
                <a href="{{ url_for('adminLogin') }}"><p class = "type">Administrator</p></a>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card">
                <a href="{{ url_for('callCenterStaffLogin') }}"><img class="card-img-top" src="../../static/images/callCenterIcon.jpg" alt="Card image cap"></a>
            </div>
            <div class="card-body">
                <a href="{{ url_for('callCenterStaffLogin') }}"><p class = "type">Call Center</p></a>   
            </div>
        </div>
    </div>

      <br/>

    <div class="row">
        <div class="col-sm-4">
            <div class="card">
                <a href="{{ url_for('customerServiceStaffLogin') }}"><img class="card-img-top" src="../../static/images/customerServiceIcon.png" alt="Card image cap"></a>
            </div>
            <div class="card-body">
                <a href="{{ url_for('customerServiceStaffLogin') }}"><p class = "type">Customer Service</p></a>
            </div>
        </div>

        <div class="col-sm-4">
            <div class="card">
                <a href="{{ url_for('warehouseStaffLogin') }}"><img class="card-img-top" src="../../static/images/warehouseIcon.jpg" alt="Card image cap"></a>
            </div>
            <div class="card-body">
                <a href="{{ url_for('warehouseStaffLogin') }}"><p class = "type">Stocking Clerk</p></a>
            </div>
        </div>

        <div class="col-sm-4">
            <div class="card">
                <a href="{{ url_for('marketingStaffLogin') }}"><img class="card-img-top" src="../../static/images/marketingDeptIcon.png" alt="Card image cap"></a>
            </div>
            <div class="card-body">
                <a href="{{ url_for('marketingStaffLogin') }}"><p class = "type">Marketing Department</p></a>
            </div>
        </div>
    </div>
</body>
</html>