<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../static/css/bootstrap.css" rel="stylesheet" type="text/css">
    <link href="../../static/css/aboutUs.css" rel="stylesheet" type="text/css">
    <script src="../../static/js/bootstrap.min.js"></script>
    <title>Checkout</title>
</head>

<body>
    <div class="container">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">YOUR CART IS EMPTY!</h5>
                <p class="card-text">Go to home to add items to your cart :)</p>
                <a href="home.html"><button type="button" class="btn btn-light">Go Back to home</button></a>
            </div>
        </div>
    </div>
    
</body>