.navbar-brand{
    margin-right: 850px;
    color: #FDA504;
    font-size: 50px;
}
.nav-link{
    color: #FDA504;
    font-size: 20px;
}
#index1{
    height: 300px;
}
#index5{
    height: 500px;
}
#index3{
    height: 500px;
}