body{
    background-color: black;
    margin-left: 0%;
    margin-right: 0%;
}
.navbar-brand{
    margin-right: 1000px;
    color: #FDA504;
    font-size: 50px;
}
.nav-link{
    color: #FDA504;
    font-size: 20px;
}
h2{
    color: black;
    text-align: center;
}
img {
    height: 300px;
}
.card-body{
    font-weight: bolder;
    font-size: 20px;
    text-align: center;
}
.card-body a{
    color: black;
    
}
.type{
    color:#FDA504;
}