body{
    /* background-image: url(../images/cable.jpeg); */
    background-color: black;
}
.navbar-brand{
    margin-right: 1000px;
    color: #FDA504;
    font-size: 50px;
    font-weight: bold;
}
.nav-link{
    color: #FDA504;
    font-size: 20px;
    font-weight: bold;
}
.registrationForm{
    border: 5px;
    border-style: solid;
    margin:auto;
    height: 700px;
    width: 550px;
    text-align: center;
    justify-content: center;
    background-color: #FEEB75;
}
.register{
    margin-top:5%;
}
.submit{
    background-color: #FDA504;
    border-radius: 12px;
}
label{
    text-align: right;
    float: left;
    padding-left: 30px;
}
.textbox{
    float: right;
    margin-right: 70px;
}
.login{
    color:#FD6A02;
}
.submit{
    color: #FD6A02;
    border-color: transparent;
}